[submodule "extern/RitsuLib"]
	path = extern/RitsuLib
	url = https://github.com/BAKAOLC/STS2-RitsuLib.git
[submodule "extern/BaseLib"]
	path = extern/BaseLib
	url = https://github.com/Alchyr/BaseLib-StS2.git
