[submodule "extern/STS2-RitsuLib"]
	path = extern/STS2-RitsuLib
	url = https://github.com/BAKAOLC/STS2-RitsuLib.git
[submodule "extern/BaseLib-StS2"]
	path = extern/BaseLib-StS2
	url = https://github.com/Alchyr/BaseLib-StS2.git
